$orange-gradient: linear-gradient(
  90deg,
  rgba(255, 118, 20, 1) 0%,
  rgba(255, 84, 17, 1) 100%
);

$purple-gradient: linear-gradient(
  90deg,
  rgba(93, 12, 255, 1) 0%,
  rgba(155, 0, 250, 1) 100%
);

$pink-gradient: linear-gradient(
  90deg,
  rgba(255, 12, 241, 1) 0%,
  rgba(250, 0, 135, 1) 100%
);

$blue-gradient: linear-gradient(
  90deg,
  rgba(20, 159, 255, 1) 0%,
  rgba(17, 122, 255, 1) 100%
);

// ---------------------------------

$smallest: 0;
$x-small-lowest: 360px;
$x-small: 400px;
$x-small-highest: 480px;
$small-lowest: 600px;
$small: 720px;
$small-highest: 840px;
$medium-lowest: 960px;
$medium: 1040px;
$medium-highest: 1140px;
$large-lowest: 1280px;
$large: 1440px;
$large-highest: 1600px;
$x-large-lowest: 1920px;
$x-large: 2560px;
$x-large-highest: 3360px;